<div class="text-center mt-5">
  <h1 class="bi bi-geo-alt-fill text-primary"></h1>
  <h2 class="h4 mb-3">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: '' }) do |f| %>
    <div class="field form-control-plaintext">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "taro@example.com" %>
      <%= resource.errors.full_messages_for(:email).join(', ') if resource.errors[:email].present? %>
    </div>

    <div class="field form-control-plaintext">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'ログインを記憶する' %>
        <% resource.errors.full_messages_for(:password).join(', ') if resource.errors[:password].present? %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'ログイン', class: 'btn btn-lg btn-primary btn-block' %>
    </div>
    <%= link_to 'パスワードをお忘れの方', new_user_password_path, class: 'mt-5 mb-3 text-muted text-center' %> | <%= link_to 'アカウント作成', new_user_registration_path, class: 'mt-5 mb-3 text-muted text-center' %>
  <% end %>
</div>
